@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full scroll-smooth antialiased;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-work-sans;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  @apply w-[6px];
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-esmerald-500;
}

@media (max-width: 1023px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 639px) {
  html {
    font-size: 87.5%;
  }
}
